.well{
  background-color: rgb(252, 250, 10);
  margin-left:15em;
  margin-right: 15em;
  height: 290px;
  padding-bottom: 50px;
  color: black;
  overflow: scroll;
}


#find{
  color: black;
}

h4{
  font-style: italic;
  font-size: 19px;
  font-weight: bold;
}

body{
  background-color: rgb(70, 70, 70);
  color: white;
}

.timestamp{
  font-size: 18px;
}

.red{
  color:rgb(238, 40, 13);
}

.green{
  color:rgb(20, 235, 29);
}

.valid{
  border-color: rgb(106, 251, 63);
}

.invalid{
  border-color: rgb(242, 72, 10);
}

form{
  margin-left: 15em;
  margin-right: 15em;
}

.sorter{
  margin-left: 15em;
  width: 200px;
  margin-bottom: 20px;
}

.author{
  float: right;
  margin-right: 20px;
}

.pull-right{
  width: 70%;
}

.panel-body{
  height: 15%;
}

.navbar{
  background-color: rgb(252, 250, 10);

}

.panel-body{
  margin-top: 20px;
}

.timestamp{
  position: relative;
  bottom: 0;
}
